/**********************************************************************************************************************************
Notify Lite for Areo Search
***********************************************************************************************************************************/

.notify-lite-container {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 99999;
}

.notify-lite {
    background: #333;
    color: rgb(32, 32, 32);
    padding: 12px 18px;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.25);
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease;
    font-size: 14px;
}

.notify-lite a{
    color: rgb(3, 81, 111);	
	font-weight: bold;
}

.notify-lite.show {
    opacity: 1;
    transform: translateX(0);
}

.notify-lite.success { background: #53f395; }
.notify-lite.error   { background: #c0392b; }
